body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  width: 80%; /* Altere a largura da calculadora conforme necessário */
  max-width: 400px; /* Defina um valor máximo para evitar que ela fique muito larga */
  margin: auto; /* Centraliza a calculadora na tela */
}

.output {
  padding: 10px;
  text-align: right;
  background-color: black;
}

.output p {
  margin: 0;
  font-size: 24px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 5px; /* Adicione um espaço entre os botões */
}

button {
  padding: 20px; /* Ajuste o tamanho dos botões */
  border: none;
  background-color: white;
  color: black; /* Cor do texto nos botões */
  font-size: 24px; /* Ajuste o tamanho do texto nos botões */
  cursor: pointer;
}

button:hover {
  background-color: #d9d9d9;
}